<div id="<%= dom_id subtask %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= subtask.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= subtask.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= subtask.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= subtask.due_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Story:</strong>
    <%= subtask.story_id %>
  </p>

</div>
