<div id="<%= dom_id bug %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= bug.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= bug.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Severity:</strong>
    <%= bug.severity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= bug.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= bug.due_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Story:</strong>
    <%= bug.story_id %>
  </p>

</div>
